buttonCustom {
  /* Вход */

  width: 48px;
  height: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #302d3d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
